{% extends 'base.html' %}
{% load humanize %}

{% block extra-css %}
<style type="text/css">
    .page-header {
        color: #339999;
        font-family: Verdana, Geneva, sans-serif;
    }

    h2 {
        font-family: Verdana, Geneva, sans-serif;
        font-style: italic;
        color: #606060;
        font-size: 20px;
        border-bottom-style: dashed;
        border-bottom-color: #66CCCC;
    }

    .bar {
        height: 30px;
        display:inline-block;
        float:left;
        margin:1px 0;
    }
    
    .table-striped {
        background-color: 
    }

    .oppose {
        background: #00CC99;
    }
    .support {
        background: #404040;
    }
    .bar-label {
        display:inline-block;
        float:left;
        margin: 6px 0 0 6px;
    }
    .bar-container {
        clear:both;
    }

    .table-striped {
        background-color: #009999;
    }
    .clear {
        clear:both;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header pagination-centered">
        <h1>Contribution Data</h1>
    </div>

    <h2>Money by contributor</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Committee</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in contributors %}
            <tr>
                <td>{{ i.clean_name }}</td>
                <td>{{ i.committee }}</td>
                <td>${{ i.contribs|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div align=center><canvas id="myChart" width="400" height="400"></canvas></div>
    <h2>Money by Prop.</h2>
    {% for i in summary_data %}
    <h4>Prop. {{ i.prop }}</h4>
    <div class="bar-container">
        <span class="bar support" style="width:{% widthratio i.support max_value 800 %}px"></span>
        <span class="bar-label">${{ i.support|intcomma }}</span>
    </div>
    <div class="bar-container">
        <span class="bar oppose" style="width:{% widthratio i.oppose max_value 800 %}px"></span>
        <span class="bar-label">${{ i.oppose|intcomma }}</span>
    </div>
    <div class="clear"></div>
    {% endfor %}
</div>
{% endblock %}